<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台管理系统</title>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/jquery.wysiwyg.old-school.css">
<link rel="stylesheet" href="../static/css/style2.css">
<!-- jQuery AND jQueryUI -->
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/js/min.js"></script>
<!--<script type="text/javascript" src="js/index.js"></script>-->
<script type="text/javascript" src="../static/js/main.js"></script>

</head>
<body class="modal white">

<!--     内容      -->
<div id="content" class="white">

<div class="bloc" style="margin-top: 150px;margin-left: 250px;">
		<div class="title">配置问题<a class="toggle"></a></div>
		<div class="content">
				<div class="input">
						<label for="file">渠道名称</label>
						<input type="text" id="input1" name="one" >
				</div>
				<!--<div class="input textarea">
								<label for="textarea1">描述</label>
								<textarea name="text" id="textarea1" rows="7" cols="4"></textarea>
				</div>-->
				
				<div class="submit">
						<input type="submit" value="确定" onclick="one()"/>
						<input type="submit" value="取消" onclick="closeone()" />
				</div>
		</div>
</div>

</div>
<br>

<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
<script>
	function one(){
		alert("ok")
	}
	function closeone(){
		$("input[name='one']").val("");
		alert("ok");
//		$('#content').css('display','none');
		
	}
</script>

</body><br>

</html>