<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>标签定义</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <!-- jQuery AND jQueryUI -->
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <!--<script type="text/javascript" src="js/index.js"></script>-->
    <link rel="stylesheet" href="../static/css/style2.css"/>
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
</head>
<body>

<!--     内容      -->
<div id="content" class="white">
    <h1><img src="../static/images/posts.png" alt="">标签定义</h1>
    <div class="bloc" style="margin-top: 50px;">
        <table class="table table-bordered">
            <caption align="top" style="text-align: center;color: black;font-size: 20px;  ">资讯标签定义</caption>
            <thead>
            <tr>
                <th width="25%;">序号</th>
                <th width="25%;">标签名称</th>
                <th width="25%;">热度</th>
                <th width="25%;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>4</td>
                <td>阿姆斯特朗炮</td>
                <td>0</td>
                <td>
                    <button onclick="">变更</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="bloc">
        <table class="table table-bordered">
            <caption align="top" style="text-align: center;color: black;font-size: 20px; ">用户标签定义</caption>
            <thead>
            <tr>
                <th width="25%;">序号</th>
                <th width="25%;">标签名称</th>
                <th width="25%;">热度</th>
                <th width="25%;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>4</td>
                <td>丰田</td>
                <td>8</td>
                <td>
                    <button onclick="">变更</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
<script type="text/javascript">

</script>
</body>
<br>
</html>